$primaryColor: rgb(238, 238, 238);
$secondaryColor: rgb(34, 34, 34);
$accentColor:rgb(49, 72, 80);
$activeColor:rgb(100, 159, 201);
@mixin flex ($flex-direction, $justify-content, $align-items, $text-align) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    text-align: $text-align;
}
@mixin color ($color, $background-color){
    color: $color;
    background-color: $background-color;
}
h2 {
    width:30%; 
    padding-bottom: 30px;
    border-bottom: 1px solid $secondaryColor; 
}
a {
    text-decoration: none;
    color:inherit;
}
h1,
h2,
h3 {
    margin-top: 0;
}
img,
button {
    display: block;
}
img {
    width:100%;
    max-width:100%;
}
ul {
    padding-left: 0;
}
li {
    list-style-type: none;
}
button,
[type="text"],
[type="email"],
textarea  {
    border:none;
}
button {
    background-color: inherit;
    font-size: 40px;
    text-align: center;
}
[type="text"],
[type="email"],
textarea {
    padding-top: 20px;
}
.wrapper {
    max-width: 1600px;
    margin-left:auto;
    margin-right: auto;
    padding: 0 8%;
}
div.fixedBg {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
//media queries
@media (max-width:1000px) {
    button {
        font-size:30px;
    }
}
@media (max-width:900px) {
    h2 {
        width: 70%;
    }
}
@media (max-width:500px) {
    .wrapper {
        padding:0 4%;
    }
    div.fixedBg {
        background-attachment: scroll;
    }
}