article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

body {
  font-size: 1rem;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

h1 {
  font-size: 4.4rem;
  font-size: 88px;
  font-family: 'Lato', sans-serif; }
  h1 span.helloWorld {
    font-size: 2.95rem;
    font-size: 59px;
    font-family: 'Playfair Display', serif;
    font-style: italic; }

h2,
h3 {
  font-weight: 400; }

h2 {
  font-size: 2rem;
  font-size: 40px;
  font-family: 'Playfair Display', serif; }

h3 {
  font-size: 1.75rem;
  font-size: 35px;
  font-family: 'Playfair Display', serif; }

.menu {
  font-size: 1.5rem;
  font-size: 30px;
  font-family: 'Playfair Display', serif; }

.usedTools {
  font-weight: 400;
  text-transform: uppercase; }

label,
input,
textarea {
  font-size: 1.15rem;
  font-size: 23px;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

.project .codeLink {
  font-weight: 700; }

@media (max-width: 1480px) {
  h1 {
    font-size: 65px; }
    h1 span.helloWorld {
      font-size: 45px; } }

@media (max-width: 1300px) {
  .menu {
    font-size: 25px; } }

@media (max-width: 1150px) {
  h1 {
    font-size: 50px; }
    h1 span.helloWorld {
      font-size: 38px; } }

@media (max-width: 600px) {
  h2 {
    font-size: 30px; }
  h3 {
    font-size: 25px; }
  .project .usedTools {
    font-size: 18px; }
  label,
  input,
  textarea {
    font-size: 20px; } }

@media (max-width: 500px) {
  h1 {
    font-size: 38px; }
    h1 span.helloWorld {
      font-size: 25px; }
  .menu,
  .project p {
    font-size: 18px; } }

h2 {
  width: 30%;
  padding-bottom: 30px;
  border-bottom: 1px solid #222222; }

a {
  text-decoration: none;
  color: inherit; }

h1,
h2,
h3 {
  margin-top: 0; }

img,
button {
  display: block; }

img {
  width: 100%;
  max-width: 100%; }

ul {
  padding-left: 0; }

li {
  list-style-type: none; }

button,
[type="text"],
[type="email"],
textarea {
  border: none; }

button {
  background-color: inherit;
  font-size: 40px;
  text-align: center; }

[type="text"],
[type="email"],
textarea {
  padding-top: 20px; }

.wrapper {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 8%; }

@media (max-width: 1000px) {
  button {
    font-size: 30px; } }

@media (max-width: 900px) {
  h2 {
    width: 70%; } }

@media (max-width: 500px) {
  .wrapper {
    padding: 0 4%; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* ----------------------------------------------
 * Generated by Animista
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation jello-vertical
 * ----------------------------------------
 */
@-webkit-keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1); }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1); }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1); }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1); }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1); }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

span.letters {
  -webkit-animation: fadeIn .5s 0s forwards;
  animation: fadeIn .5s 0s forwards;
  opacity: 0; }
  span.letters:nth-of-type(1) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  span.letters:nth-of-type(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  span.letters:nth-of-type(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  span.letters:nth-of-type(4) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  span.letters:nth-of-type(5) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  span.letters:nth-of-type(6) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  span.letters:nth-of-type(7) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s; }
  span.letters:nth-of-type(8) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s; }
  span.letters:nth-of-type(9) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s; }
  span.letters:nth-of-type(10) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }
  span.letters:nth-of-type(11) {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s; }

.parallax-window {
  min-height: 420px;
  background: transparent; }

.parallax-mirror:nth-of-type(3) {
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 78%, 50% 100%, 0% 78%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 78%, 50% 100%, 0% 78%); }

header .parallax-window {
  padding-top: 10%;
  height: calc(100vh - 60px);
  text-align: center; }

header .arrowDown {
  margin: 9px auto 0;
  color: #222222; }

main {
  margin-top: 15px; }

nav.wrapper {
  padding-top: 20px;
  padding-bottom: 20px; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 5; }
  nav.scrolled {
    background-color: #eeeeee !important;
    opacity: 0.85;
    padding-top: 11px;
    padding-bottom: 14px;
    -webkit-box-shadow: 0 0.1px 2px 0.2px #222222;
    box-shadow: 0 0.1px 2px 0.2px #222222;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
  nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 40%;
    margin: 0; }
  nav .menuItem a {
    position: relative;
    padding-bottom: 5px; }
    nav .menuItem a:hover {
      color: #314850; }
    nav .menuItem a::before {
      content: "";
      background: #314850;
      visibility: hidden;
      width: 100%;
      height: 3px;
      border-radius: 1px;
      position: absolute;
      left: 0;
      bottom: 0;
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
      transform: scaleX(0); }
    nav .menuItem a:hover::before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
      transform: scaleX(1); }

.aboutWrapper,
.skillsWrapper,
.worksWrapper,
.contactWrapper {
  padding-top: 60px;
  padding-bottom: 68px; }

.aboutWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }
  .aboutWrapper .aboutText,
  .aboutWrapper .aboutPic {
    width: 49%; }
  .aboutWrapper .aboutText {
    text-align: left; }
    .aboutWrapper .aboutText h2 {
      width: 60%; }

.aboutPic {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center; }
  .aboutPic .dandelion,
  .aboutPic .headShot {
    width: 45%; }
  .aboutPic .headShot {
    margin-top: 25%;
    margin-right: -14%;
    z-index: 1; }

.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  width: 39%; }
  .socialMedia a {
    width: 30%;
    font-size: 35px; }
    .socialMedia a:hover, .socialMedia a:focus {
      -webkit-animation: jello-vertical 0.9s both;
      animation: jello-vertical 0.9s both; }

.skillsWrapper {
  padding-bottom: 20px;
  background: #eeeeee; }
  .skillsWrapper p {
    font-weight: 400; }

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .icons .skillIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width: 20%; }
    .icons .skillIcon i {
      font-size: 60px; }
  .icons img,
  .icons svg {
    width: 55px; }
  .icons svg path {
    fill: black; }

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  margin-top: 50px; }
  .project:first-of-type {
    margin-top: 30px; }
  .project .projectImg,
  .project .projectInfo {
    width: 50%; }
  .project .projectInfo {
    border-radius: 2px;
    padding: 45px;
    background: #eeeeee; }
  .project .usedTools {
    text-transform: uppercase;
    font-weight: 400; }
  .project p {
    margin-bottom: 35px; }
  .project .buddies:hover {
    border-bottom: 1px solid #222222; }
  .project .codeLink {
    margin-right: 40px;
    padding: 5px 8px;
    border: 2px solid #314850;
    border-radius: 2px;
    -webkit-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    transition: all linear 0.4s; }
    .project .codeLink:focus, .project .codeLink:hover {
      -webkit-box-shadow: inset 0 -60px 0 0 #314850;
      box-shadow: inset 0 -60px 0 0 #314850;
      color: white; }

.recipe,
.recipe a {
  cursor: url(../assets/recipeCursor.png) 9 9, default; }

.priceGame,
.priceGame a {
  cursor: url(../assets/priceCursor.png) 5 5, default; }

.melody,
.melody a {
  cursor: url(../assets/melodyCursor.png) 5 14, default; }

.collegeNav,
.collegeNav a {
  cursor: url(../assets/collegeNavCursor.png) 5 5, default; }

.contactWrapper {
  color: white;
  background-color: #222222; }
  .contactWrapper h2 {
    border-bottom: 1px solid #eeeeee; }
  .contactWrapper label,
  .contactWrapper input,
  .contactWrapper textarea {
    display: block;
    width: 70%;
    margin: 10px auto; }
  .contactWrapper input,
  .contactWrapper textarea {
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
    color: white;
    background-color: inherit; }
    .contactWrapper input:focus,
    .contactWrapper textarea:focus {
      background-color: black; }
  .contactWrapper textarea {
    resize: vertical; }

.arrowUp {
  position: fixed;
  display: none;
  right: 20px;
  bottom: 30px;
  color: #649fc9;
  opacity: 0.85; }

footer {
  padding: 15px;
  text-align: center; }
  footer p {
    margin: 0;
    font-weight: 400; }

@media (max-width: 1150px) {
  nav .menu {
    width: 55%; }
  nav.wrapper {
    padding-top: 17px;
    padding-bottom: 17px; }
  nav.scrolled {
    padding-top: 9px;
    padding-bottom: 12px; }
  .socialMedia {
    width: 55%; } }

@media (max-width: 1000px) {
  .dandelion {
    display: none; }
  .aboutPic .headShot {
    width: 90%;
    margin-top: auto;
    margin-right: 0; } }

@media (max-width: 900px) {
  .project {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .project .projectImg,
    .project .projectInfo {
      width: 100%; }
    .project .projectImg {
      margin-bottom: 30px; }
  .priceGame .projectImg,
  .collegeNav .projectImg {
    -webkit-box-ordinal-group: -1;
    -ms-flex-order: -2;
    order: -2; } }

@media (max-width: 750px) {
  nav .menu {
    width: 100%; }
  .aboutWrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .aboutWrapper .aboutText {
      width: 100%; }
    .aboutWrapper .aboutPic {
      width: 70%;
      margin: 20px auto 35px;
      border-radius: 2px;
      -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
      order: -2; }
  .aboutPic .headShot {
    width: 100%; }
  .socialMedia {
    width: 60%; }
  .icons .skillIcon {
    width: 33%;
    margin-top: 20px; }
    .icons .skillIcon i {
      font-size: 50px; }
  .icons img,
  .icons svg {
    width: 46px; }
  .contactWrapper label,
  .contactWrapper input,
  .contactWrapper textarea {
    width: 100%; } }

@media (max-width: 550px) {
  .icons .skillIcon {
    width: 50%;
    margin-top: 10px; }
    .icons .skillIcon i {
      font-size: 40px; }
  .icons img,
  .icons svg {
    width: 36px; }
  .project .projectInfo {
    padding-left: 15px;
    padding-right: 15px; } }

@media (max-width: 500px) {
  nav.wrapper {
    padding-top: 12px;
    padding-bottom: 12px; }
  nav.scrolled {
    padding-top: 7px;
    padding-bottom: 10px; } }

@media (max-width: 400px) {
  .project .codeLink {
    display: inline-block;
    margin-bottom: 20px; } }
